extends layout

include mixins/_products

block content

  .hero
    -let images = ['hero', 'hero2', 'hero3', 'hero4']
    each image in images
      .image__slide.fade
        img(src=`/images/photos/${image}.jpg` alt='hero image')
        a.hero__text(href='#') Discover
    a(class="prev") &#10094;
    a(class="next") &#10095;

  //- The dots/circles
  div(style="text-align:center")
    span(class="dot")
    span(class="dot")
    span(class="dot")
    span(class="dot")

  .home__contents
    section(class="products")
      .section__title
        a(href='#') Shop the Collection
      +products(products)