nav {
    background-color: $orange;
    height: fit-content;
    width: 100%;
    svg {
        width: 20px;
        height: 20px;
    }
}

.ads {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3vh 0;
    svg {
        width: 10px;
        height: 10px;
    }
    div {
        margin: 0 4vw;
    }
}

[class*="chevron"] {
    align-self: center;
}

.menu__left {
    display: none;
}

.menu__right .menu__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $silver;
}

button {
    background-color: $orange;
    height: fit-content;
    width: fit-content;
    border: none;
    padding: 0;
}

a {
    color: $silver;
    text-decoration: none;
}

.menu__site-name {
    margin-left: 2vw;
}

.menu__right {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-around;
    align-items: flex-end;
}

@media only screen and (min-width: 1025) {
    .menu__left {
        display: flex;
        flex-direction: row;
        width: 20%;
        justify-content: space-around;
        align-items: flex-end;
    }
}