nav {
    position: fixed;
    top: 0;
    background-color: $orange;
    height: fit-content;
    width: 100%;
    svg {
        width: 27px;
        height: 27px;
    }
}

.ads {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2vh;
    svg {
        width: 12px;
        height: 15px;
    }
    div {
        margin: 0 4vw;
        margin-bottom: 2vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        h1 {
            margin-bottom: 0;
        }
        a {
            width: fit-content;
            color: black;
            text-decoration: underline;
        }
    }
}

[class*="chevron"] {
    align-self: center;
}

[class*="__left"] {
    margin-left: 2vw;
}

[class*="__right"] {
    margin-right: 2vw;
}

.menu__left {
    display: none;
}

.menu__items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: $silver;
}

button {
    background-color: $orange;
    height: fit-content;
    width: fit-content;
    border: none;
    padding: 0;
}

a {
    color: $silver;
    text-decoration: none;
}

.menu__site-name {
    margin-left: 2vw;
    min-height: fit-content;
    h1 {
        margin: 0;
    }
}

.menu__right {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: space-around;
    align-items: flex-end;
}

@media only screen and (min-width: 1025) {
    .menu__left {
        display: flex;
        flex-direction: row;
        width: 20%;
        justify-content: space-around;
        align-items: flex-end;
    }
}