#menu {
    display: none;
    padding: 5vh 0;
    background-color: black;
    color: $orange;
}

#menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: $orange;
    display: block;
    transition: 0.3s;
    svg {
        width: 30px;
        height: 30px;
        fill: $orange;
        color: $orange;
        &>path {
            fill: $orange;
        }
    }
}

.menu a:hover {
    color: #f1f1f1;
}

.user {
    margin-bottom: 4vh;
    padding: 8px 8px 8px 32px;
    h1 {
        margin: 0;
    }
}